@{ 
    ViewData["Title"] = "RegisterSucceeded";
}

<div class="h4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id cursus lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>