@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Parola Yenileme";
}

<div class="card">
    <div class="card-body">

        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                @Html.ValidationSummary()
            </div>
        }

        <form asp-action="ResetPasswordForm" method="post" novalidate>
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
            </div>
            <p>
                Please enter your e-mail adress.......
            </p>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}