@{
    ViewData["Title"] = "Parola Yenileme";
}

<div class="card">
    <div class="card-body">
        <h2>Thank you!</h2>
        <p>
            We sent a message to your e-mail .......
        </p>
    </div>
</div>