@{
    ViewData["Title"] = "Parola Yenileme";
}

<div class="card">
    <div class="card-body">
        <h2>Thank you!</h2>
        <p>
            Your password has been reset <a asp-action="Login"> you can login now!</a>.
        </p>
    </div>
</div>