@model Procedure
@{
    var entity = "Procedure";
    ViewData["Title"] = $"Add {entity}";
}

<form method="post">
    <partial name="CreateOrUpdate" model="Model" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
